body {
    margin: 0;
}

section {
    position: absolute !important;
    top:0  !important;
    left:0  !important;
    height: 100%  !important;
    /*width: 100%  !important;*/
    /*background: blue !important;*/
}
canvas {
    display: block;
}

.presentation_title {
    position: absolute !important;
    font-size: 45px !important;
    font-weight: bold !important;
    line-height: 1.25 !important;
    padding-bottom: 20px !important;
}
.presentation_title2 {
    padding-right: 50px !important;
    line-height: 1.25 !important;
    padding-bottom: 15px !important;
    text-align: right !important;
    font-size: 20px !important;
}

.page-number {
    position: absolute;
    bottom: 35px;
    right: 8%;
    color: black;
    font-size: 36px;
}

.uzh_logo{
    position: absolute !important;
    top: 2.5vh !important;
    left: 2.5vw !important;
    height: 10vh;
    width: auto;
}

.symbol_fig{
    position: absolute;
    top: 2.5vh;
    right: 2.5vw;
    height: 10vh;
    /*filter: blur(2px); */
}

.reveal .progress{
    height: 8px !important;
    background-color: #F3E99F !important;
}

.reveal .progress span {
    background-color: #FF6D60 !important;
    transition: width 0.5s ease-out !important;
    opacity: 1 !important;
    z-index: 0 !important;
}

.laser-pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.3s;
}

.slide-title {
    position: absolute !important;
    top: 12.5% !important;
    left: 2.5% !important;
    padding: 10px !important;
    font-size: 25px !important;
    font-weight: bold !important;
    z-index:auto !important;
}

/* Left text and right figure style pair*/
.slide_content_style1{
    position: absolute !important;
    top: 20% !important;
    left: 2.5% !important;
    width: 45% !important;
    padding: 10px !important;
    font-size: 20px !important;
    text-align: left !important;
}

.slide_item_style1{
    padding-bottom: 20px  !important;
    font-size: 20px  !important;
}

.image-style1{
    position: absolute !important;
    top: 20% !important;
    left: 50% !important;
    width: 50% !important;
    height: 65% !important;
}

.tablecell_style1{
    font-size: 15px !important;
}

.highlight_style1{
    color: darkred !important;
    font-size: 25px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-weight: bold !important;
}

.image-style2{
    position: absolute !important;
    top: 20% !important;
    left: 50% !important;
}

.caption_style{
    font-size: 15px !important;
    position: relative;
    /*display: block;*/
    width:50% !important;
}

.reference_style{
    position: absolute !important;
    bottom: 8% !important;
    left: 0 !important;
    color: rgb(108, 108, 108) !important;
    font-size: 8px !important;
    width:80%;
    text-align: left;
}

.mol-container{
    position: relative !important;
    padding-top: 100%;
}

.content_subtitle{
    background: #e6f0b680 !important;
    padding: 5px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    background: radial-gradient(circle at center, #e6f0b680, #e6f0b630) !important;
    border-radius: 10px !important;
    background-color: #e6f0b680 !important;
}

.mol-container canvas {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 0 !important;
}

ul li{
    padding-bottom:10px !important;
    font-size: 25px !important;
}

.chapter_break{
    position: absolute !important;
    top : 50% !important;
    left: 50% !important;
    width:100% !important;
    font-size: 45px !important;
    font-weight: bold !important;
    line-height: 1.25 !important;
    transform: translate(-50%, -50%) !important
}

.image-gray {
    filter: grayscale(100%);
}


.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    position: relative !important;
    margin-right: 40px !important;
    margin-left: 40px !important;
    margin-top: 20px !important;
    margin-bottom:50px !important;
}

.gallery-item img {
    width: auto;
    height: 150px;
    transition: all 0.3s ease-out;
}

.gallery-item:hover img {
    transform: scale(3);
}

.gallery-item_style2:hover img {
    transform: scale(1.5) !important;
}

.gallery-item_style3:hover img {
    transform: scale(2) translateY(20%) translateX(20%) !important;
}

.gallery-item_style4:hover img {
    transform: scale(2) translateX(-10%) !important;
}

.gallery-item figcaption {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #fff0dbd0;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.gallery-item:hover figcaption {
    transform: translateY(170px);
}